<p>bowling-game works!</p>
<div *ngIf="this.game" class="container-fluid p-3">
  <button class="btn btn-primary" (click)="this.lancer()">Lancer</button>
  <button class="btn btn-primary" (click)="this.ngOnInit()">Nouveau jeu</button>

  <table class="table mt-3">
    <thead>
    <tr>
      <th>Frame</th>
      <th>Throw 1</th>
      <th>Throw 2</th>
      <th>Throw 3</th>
      <th>Frame Score</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let frame of this.game.frames; let i = index">
      <td>{{i + 1}}</td>
      <td>{{frame.throwScores[0] | scoreDisplay : frame : 1}}</td>
      <td>{{frame.throwScores[1] | scoreDisplay : frame : 2}}</td>
      <td>{{frame.throwScores[2] | scoreDisplay : frame : 3}}</td>
      <td>{{this.getFrameScore(frame)}}</td>
    </tr>
    <tr>
      <td>Add</td>
      <td>{{this.game.frames[4].bonusScores[0] }}</td>
      <td>{{this.game.frames[4].bonusScores[1] }}</td>
      <td>{{this.game.frames[4].bonusScores[2] }}</td>
    </tr>
    </tbody>
  </table>

  <div class="font-weight-bold">
    Total Score: {{this.getTotalScore()}}
  </div>
</div>
